/*
Especificar o Tipo de Grid, coluna ou Linha
display: grid => cria um bloco do tamanho da tela
display: inline-grid; => Cria uma Linha apenas do tamanho do elemnto dentro dele
*/

body {
	background-color: #bdbdbd;
}

/*
Especificar o tamanho das linhas e colunas do grid
	grid-template-columns: 120px 120px 120px; =>  cria 3 colunas de 120px cada
	grid-template-rows: 100px 100px; => cria duas linhas de 100px cada
*/

/*
Especificando espacamento entre as linhas e colunas dos grid-items
	grid-column-gap: 10px; => 10px entre as colunas
	grid-row-gap: 10px; => 10px entre as linhas

	ou grid-gap: 10px 10px;
	   grid-gap: 10px;
*/

/*Grid Namings

	Dentro de Casa Item do grid damos um nome a ele
	com grid-area: header;

	No container montamos o layout da pagina
	com grid-template-areas, passando o nome
	dado ao "grid-area" definimos as colunas,ex:
	"header header header" <= teremos 3colunas
	"aside main main" <= 1 coluan para aside e 2 para o main
	"aside content content" <= +1 linha para side e 2 colunas para content
	"footer footer footer"

	Responsividade, podemos trocar o "grid-template-areas" com media queries,
	ex:

	@media(max-width: 645px) {
		.grid-container {
			grid-template-ares: 
				"aside header header" 
				"aside main main" 
				"aside main main"
				"content footer footer"
			;
		}
	}

*/

.grid-container {
	display: grid;
	grid-template-columns: 120px 120px 120px;
	grid-template-rows: 100px 100px;

	grid-column-gap: 10px;
	grid-row-gap: 10px;
}

/*Espcificar a celula do container

1º forma
	grid-column-start: 1;
	grid-column-end: 2;

	grid-row-start: 1;
	grid-row-end: 2;


2º forma
	grid-column: 1/2;
	grid-row: 1/2;

3º forma
sintax: grid-area: start-colums/start-row end-colum/end-row
ex: grid-area: 1/1 2/2;

*/



.grid-container div:nth-child(1) {
	color: blue;
	grid-area: 1/1 2/2;
}


.grid-container div:nth-child(even) {
	background-color: blue;
}

.grid-container div:nth-child(odd) {
	background-color: red;
}


