$margin-col: 2px;
$margin-calc: 2 * $margin-col;

.row {
  width: 100%;
  max-width: 800px;
  border: 1px solid;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

@function calculate($column) {
  @return calc(((100% * #{$column}) / 12) - #{$margin-calc});
}

@mixin col($column) {
  margin: $margin-col;
  box-sizing: border-box; 
  color: #fff;
  background-color: #EF5350;
  text-align: center;
  
  width: calculate($column);
}

.logo {
  @include col(2);
}

.menu {
  @include col(10);
}


@media(max-width: 700px) {

} 

/*<div class="row">
  
  <div class="logo">logo</div>
  <nav class="menu">menu</nav>
 
</div>*/