/*
Grid Não semântico
*/


/*100% ====>  12
x    ======> 6

6*100 = 12x
x= 6*100/12*/



html , body {
  font-family: 'Arial','Tahoma' ,'monospace', sans-serif;
}

/*
Global Variables
*/
:root {
  --margin-col: 2px;
  --margin-calc : calc(2 * var(--margin-col));
}

/*
Container
*/
.container{
	width: 100%;
}

/*
Linha
*/
.row {
  width: 100%;
  border: 1px solid;
  margin: 0 auto;
  
  display: flex;
  flex-wrap: wrap;
}


/*
Colunas
*/
.col {
 margin: var(--margin-col);
 box-sizing: border-box; 
 color: #fff;
 background-color: #EF5350;
 text-align: center;
}

/*Extra Small*/
.col-1{ width: calc(((100% * 1) / 12) - var(--margin-calc)); }
.col-2{width: calc(((100% * 2) / 12) - var(--margin-calc));}
.col-3{width: calc(((100% * 3) / 12) - var(--margin-calc));}
.col-4{width: calc(((100% * 4) / 12) - var(--margin-calc));}
.col-5{width: calc(((100% * 5) / 12) - var(--margin-calc));}
.col-6 { width: calc(((100% * 6) / 12) - var(--margin-calc));}
.col-7{width: calc(((100% * 7) / 12) - var(--margin-calc));}
.col-8{width: calc(((100% * 8) / 12) - var(--margin-calc));}
.col-9{ width: calc(((100% * 9) / 12) - var(--margin-calc));}
.col-10{width: calc(((100% * 10) / 12) - var(--margin-calc));}
.col-11{width: calc(((100% * 11) / 12) - var(--margin-calc));}
.col-12{width: calc(((100% * 12) / 12) - var(--margin-calc));}




/*Small col-sm*/
@media(min-width: 576px) {

	.container {
		max-width: 540px;
	}

.col-sm-1{ width: calc(((100% * 1) / 12) - var(--margin-calc)); }
.col-sm-2{width: calc(((100% * 2) / 12) - var(--margin-calc));}
.col-sm-3{width: calc(((100% * 3) / 12) - var(--margin-calc));}
.col-sm-4{width: calc(((100% * 4) / 12) - var(--margin-calc));}
.col-sm-5{width: calc(((100% * 5) / 12) - var(--margin-calc));}
.col-sm-6 { width: calc(((100% * 6) / 12) - var(--margin-calc));}
.col-sm-7{width: calc(((100% * 7) / 12) - var(--margin-calc));}
.col-sm-8{width: calc(((100% * 8) / 12) - var(--margin-calc));}
.col-sm-9{ width: calc(((100% * 9) / 12) - var(--margin-calc));}
.col-sm-10{width: calc(((100% * 10) / 12) - var(--margin-calc));}
.col-sm-11{width: calc(((100% * 11) / 12) - var(--margin-calc));}
.col-sm-12{width: calc(((100% * 12) / 12) - var(--margin-calc));}
}




/*Medium col-md*/
@media(min-width: 768px) {
	.container {
		max-width: 720px;
	}

  .col-md-1{ width: calc(((100% * 1) / 12) - var(--margin-calc)); }
  .col-md-2{width: calc(((100% * 2) / 12) - var(--margin-calc));}
  .col-md-3{width: calc(((100% * 3) / 12) - var(--margin-calc));}
  .col-md-4{width: calc(((100% * 4) / 12) - var(--margin-calc));}
  .col-md-5{width: calc(((100% * 5) / 12) - var(--margin-calc));}
  .col-md-6{ width: calc(((100% * 6) / 12) - var(--margin-calc));}
  .col-md-7{width: calc(((100% * 7) / 12) - var(--margin-calc));}
  .col-md-8{width: calc(((100% * 8) / 12) - var(--margin-calc));}
  .col-md-9{ width: calc(((100% * 9) / 12) - var(--margin-calc));}
  .col-md-10{width: calc(((100% * 10) / 12) - var(--margin-calc));}
  .col-md-11{width: calc(((100% * 11) / 12) - var(--margin-calc));}
  .col-md-12{width: calc(((100% * 12) / 12) - var(--margin-calc));}
}

/*larg col-lg*/
@media(min-width: 992px) {
	.container {
		max-width: 960px;
	}

  .col-lg-1{ width: calc(((100% * 1) / 12) - var(--margin-calc)); }
  .col-lg-2{width: calc(((100% * 2) / 12) - var(--margin-calc));}
  .col-lg-3{width: calc(((100% * 3) / 12) - var(--margin-calc));}
  .col-lg-4{width: calc(((100% * 4) / 12) - var(--margin-calc));}
  .col-lg-5{width: calc(((100% * 5) / 12) - var(--margin-calc));}
  .col-lg-6{ width: calc(((100% * 6) / 12) - var(--margin-calc));}
  .col-lg-7{width: calc(((100% * 7) / 12) - var(--margin-calc));}
  .col-lg-8{width: calc(((100% * 8) / 12) - var(--margin-calc));}
  .col-lg-9{ width: calc(((100% * 9) / 12) - var(--margin-calc));}
  .col-lg-10{width: calc(((100% * 10) / 12) - var(--margin-calc));}
  .col-lg-11{width: calc(((100% * 11) / 12) - var(--margin-calc));}
  .col-lg-12{width: calc(((100% * 12) / 12) - var(--margin-calc));}
}


/*extra-larg col-xl*/
/*larg col-lg*/
@media(min-width: 1200px) {
	.container {
		max-width: 1140px;
	}

  .col-xl-1{ width: calc(((100% * 1) / 12) - var(--margin-calc)); }
  .col-xl-2{width: calc(((100% * 2) / 12) - var(--margin-calc));}
  .col-xl-3{width: calc(((100% * 3) / 12) - var(--margin-calc));}
  .col-xl-4{width: calc(((100% * 4) / 12) - var(--margin-calc));}
  .col-xl-5{width: calc(((100% * 5) / 12) - var(--margin-calc));}
  .col-xl-6{ width: calc(((100% * 6) / 12) - var(--margin-calc));}
  .col-xl-7{width: calc(((100% * 7) / 12) - var(--margin-calc));}
  .col-xl-8{width: calc(((100% * 8) / 12) - var(--margin-calc));}
  .col-xl-9{ width: calc(((100% * 9) / 12) - var(--margin-calc));}
  .col-xl-10{width: calc(((100% * 10) / 12) - var(--margin-calc));}
  .col-xl-11{width: calc(((100% * 11) / 12) - var(--margin-calc));}
  .col-xl-12{width: calc(((100% * 12) / 12) - var(--margin-calc));}
}
