html , body {
  font-family: 'Arial','Tahoma' ,'monospace', sans-serif;
}

/*
Global Variables
*/
:root {
  --margin-col: 2px;
  --margin-calc : calc(2 * var(--margin-col));
}

/*
Linha
*/
.row {
  width: 100%;
  max-width: 800px;
  border: 1px solid;
  margin: 0 auto;
  
  display: flex;
  flex-wrap: wrap;
}


/*
Colunas
*/
.col {
 margin: var(--margin-col);
 box-sizing: border-box; 
 color: #fff;
 background-color: #EF5350;
 text-align: center;
}

.col-1{ width: calc(((100% * 1) / 12) - var(--margin-calc)); }
.col-2{width: calc(((100% * 2) / 12) - var(--margin-calc));}
.col-3{width: calc(((100% * 3) / 12) - var(--margin-calc));}
.col-4{width: calc(((100% * 4) / 12) - var(--margin-calc));}
.col-5{width: calc(((100% * 5) / 12) - var(--margin-calc));}
.col-6 { width: calc(((100% * 6) / 12) - var(--margin-calc));}
.col-7{width: calc(((100% * 7) / 12) - var(--margin-calc));}
.col-8{width: calc(((100% * 8) / 12) - var(--margin-calc));}
.col-9{ width: calc(((100% * 9) / 12) - var(--margin-calc));}
.col-10{width: calc(((100% * 10) / 12) - var(--margin-calc));}
.col-11{width: calc(((100% * 11) / 12) - var(--margin-calc));}
.col-12{width: calc(((100% * 12) / 12) - var(--margin-calc));}


/*
Grid Responsive 
*/

@media(max-width: 700px) {
  .col-1-md{ width: calc(((100% * 1) / 12) - var(--margin-calc)); }
  .col-2-md{width: calc(((100% * 2) / 12) - var(--margin-calc));}
  .col-3-md{width: calc(((100% * 3) / 12) - var(--margin-calc));}
  .col-4-md{width: calc(((100% * 4) / 12) - var(--margin-calc));}
  .col-5-md{width: calc(((100% * 5) / 12) - var(--margin-calc));}
  .col-6-md{ width: calc(((100% * 6) / 12) - var(--margin-calc));}
  .col-7-md{width: calc(((100% * 7) / 12) - var(--margin-calc));}
  .col-8-md{width: calc(((100% * 8) / 12) - var(--margin-calc));}
  .col-9-md{ width: calc(((100% * 9) / 12) - var(--margin-calc));}
  .col-10-md{width: calc(((100% * 10) / 12) - var(--margin-calc));}
  .col-11-md{width: calc(((100% * 11) / 12) - var(--margin-calc));}
  .col-12-md{width: calc(((100% * 12) / 12) - var(--margin-calc));}
}

/*
<div class="row">
  <div class="col col-1 col-resizable">content</div>
  <div class="col col-1 col-resizable">content</div>
  <div class="col col-1 col-resizable">content</div>
  <div class="col col-1 col-resizable">content</div>
  <div class="col col-1 col-resizable">content</div>
  <div class="col col-1 col-resizable">content</div>
  <div class="col col-1 col-resizable">content</div>
  <div class="col col-1 col-resizable">content</div>
  <div class="col col-1 col-resizable">content</div>
  <div class="col col-1 col-resizable">content</div>
  <div class="col col-1 col-resizable">content</div>
  <div class="col col-1 col-resizable">content</div>
  
  <div class="col col-11 col-resizable">content</div>
  <div class="col col-1 col-resizable">content</div>
  
  
  <div class="col col-2 col-6-md">content</div>
  <div class="col col-10 col-resizable ">content</div>
  
  <div class="col col-3 col-resizable">content</div>
  <div class="col col-9 col-resizable">content</div>
  
  <div class="col col-4 col-resizable">content</div>
  <div class="col col-8 col-resizable">content</div>
  
  <div class="col col-5 col-resizable">content</div>
  <div class="col col-7 col-resizable">content</div>
  
  <div class="col col-6 col-resizable">content</div>
  <div class="col col-6 col-resizable">content</div>
  
  <div class="col col-12 col-resizable">content</div>
</div>

*/