* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

/*Properties da Flex-Container*/
.container {
  width: 100%;
  height: 500px;
  background-color: #ccc;
  color: #fff;
  
  /*Define a interface flex*/
  display: flex;
  
  /*Media Querie (Responsive Design)*/
  flex-direction: row; /* row | row-reverse | column | column-reverse */
  
  /*nowrap | Não permite quebra de linha*/
  flex-wrap: nowrap; /* wrap | nowrap | wrap-reverse */
  
  /*Alinhamento horizontal*/
  justify-content: flex-start  ; /*flex-start | flex-end | space-around | center | space-between*/
  
  /*Alinhamento vertical*/
  align-items: flex-start; /*center | flex-start | flex-end | baseline | strech | baseline */
  
  /*Alinhamento vertical com flex-wrap: wrap */
  align-content: space-between; /*flex-start | flex-end | center | space-between | space-around | stretch*/
  
  /*flex-flow é a emsma coisa que flex-direcion:row e flex-wrap wrap*/
  /*flex-fow: row wrap; (shorthand)*/
}

/*Properties da Flex-Items*/
.elemento {
  box-sizing: border-box;
  width: 200px;
  height: 100px;
  margin: 5px;
  background: #000;
}

.elemento:nth-child(1) {
  /*order: 1;*/
  align-self: flex-start; /*flex-start | flex-end | center | baseline | stretch*/
  
    /*flex: (shorthand) flex-grow|flex-shrink | flex-basis*/
    flex-basis: 0; /**/
    flex-shrink: 1;
  
    /* Faz ele Crescer em relacao aos outros */
    flex-grow: 1; /* auto | 1*/
}

/*<div class="container">
  <div class="elemento">01</div>
  <div class="elemento">02</div>
  <div class="elemento">03</div>
  <div class="elemento">04</div>
</div>*/