/*Criando um Template Responsivo */


/*
Grid Container
*/
html, body {
	height: 100%;
}

.grid-container {
	height: calc(100% - 10px);


	display: grid;
	grid-template-columns: 25% 50% 25%;
	grid-template-rows: 20% 60% 40% 40% 30% 20%;

	grid-gap: 10px 0;

	grid-template-areas: 
	"header header header"
	"main main main"
	"secao secao secao"
	"planos planos planos"
	"newsletter newsletter newsletter"
	"footer footer footer";
}

/*Items do Grid*/
.grid-container__grid-item {

}

/*
Grid Area
*/

.grid-item--header{
	grid-area: header;
	background-color: #ED5050;
	padding: 10px;
	padding-top: 50px;
}

.grid-item--main{
	grid-area: main;
	
}

.grid-item--secao{
	grid-area: secao;
}

.grid-item--planos{
	grid-area: planos;
}

.grid-item--newsletter{
	grid-area: newsletter;
}

.grid-item--footer{
	grid-area: footer;
}


/*
	Menu Fixo

*/

.navbar-menu {
	background-color: rgba(0,0,0,0.7);
	padding: 1rem;
	height: 50px;
}

.navbar-menu--fixed {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.navbar-menu ul {
	display: flex;
}